<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funnytoday.project.calendar">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.Alarmservice" />

        <activity android:name=".main.MainActivity" />
        <activity
            android:name=".dialog.FinishDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".dialog.TimePickerDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.Dialog" />
        <activity
            android:name=".dialog.DatePickerDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" />
        <activity
            android:name=".dialog.CalendarSelectDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.Dialog" />
        <activity
            android:name=".dialog.WriteDeleteDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.Dialog" />
        <activity
            android:name=".function.WriteActivity"
            android:parentActivityName=".main.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".function.WriteModifyActivity"
            android:parentActivityName=".main.MainActivity"
            android:windowSoftInputMode="adjustPan" />

        <service android:name=".service.Alarmservice" />

        <receiver android:name=".service.AlarmServiceReciver">
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED"
                    android:enabled="true" />
                <action
                    android:name="android.intent.action.PACKAGE_ADDED"
                    android:enabled="true" />
                <action
                    android:name="android.intent.action.PACKAGE_REPLACED"
                    android:enabled="true" />
                <action
                    android:name="android.intent.action.PACKAGE_INSTALL"
                    android:enabled="true" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity android:name=".alarm.AlarmActivity"></activity>
    </application>

</manifest>